@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Didact+Gothic&family=Quattrocento:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
html {
    margin: 0;
    padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
    background-image: linear-gradient( 66.5deg,  rgba(161,204,165,1) -11.3%, rgba(12,146,180,1) 100.1% );
    width: 100%;
}

.container-navbar {
    height: 14vh;
    position: sticky; top: 0;
    backdrop-filter: blur(45px);
}

.ul-navbar {
margin-left: 20px;
justify-content: left;
align-items: center;
display: flex;
height: 100px;
}

.li-navbar {
list-style-type: none;
padding: 10px;
margin: 5px;
color: #000;
font-size: 20px;
position: relative;
left: 700px;
}

.a-navbar {
    color: black;
    text-decoration: none;
}

.logo-siluti {
    width: 240px;
    height: 210px;
}

.truk {
    position: relative;
    left: 700px;
    top: 250px;
    width: 400px;
    height: 270px;
}

.container-content {
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    color: black;
    

.p-content{
    position: relative;
    bottom: 200px;
    font-size: 20px;
    color: black;
}

.h-content{
    font-size: 55px;
    position: relative;
    bottom: 200px;
}

.button {
    position: relative;
    bottom: 195px;
    padding: 8px 15px;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(50, 157, 239);
}

.button:hover {
background-color: rgb(0, 132, 255);
}

